# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CatRunner.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Project\OnWork\Dao3\Git\CatRunner\.idea\.idea.CatRunner\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
